.footer {
    background-color: #282829;
    color: #fff;
    padding: 30px;;
    h2 {
        color: #fff;
        font-weight: 600;
        font-size: 20px;
    }
    .link:hover {
        color: #F6B443;
        cursor: pointer;
    }
}