<div class="footer row">
    <div class="col-sm-4">
        <h2>CONTACT US</h2>
        <div class="link">Address: 123 Main Street, Anytown, USA.</div>
        <div class="link">Phone: 123 456 789</div>
        <div class="link">Email: support@domain.com</div>
    </div>
    <div class="col-sm-4">
        <h2>MY ACCOUNT</h2>
        <div class="link">About</div>
        <div class="link">Privacy Policy</div>
        <div class="link">Order History</div>
    </div>
    <div class="col-sm-4">
        <h2>INFORMATION</h2>
        <div class="link">Tracking your order</div>
        <div class="link">Terms and condition</div>
        <div class="link">Contact us</div>
    </div>
    <hr>
    <div class="pt-10 pl-13">
        Copyright 2020 Jico - All Rights Reserved - Powered By WooVina Theme.
    </div>
</div>
