/* You can add global styles to this file, and also import other style files */
// common css
.pt-50 {
    padding-top: 50px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pl-13 {
    padding-left: 13px;
}
