.home {
    .description {
        width: 50%;
        margin: 0 auto;
    }
    .service {
        .description {
            width: 70%;
        }
        .icon {
            font-size: 45px;
        }
        .heading {
            font-weight: 600;
        }
    }
}